In [2]:
import pandas as pd
%matplotlib inline
%pylab inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [3]:
datasetFurnace = pd.read_csv('furnace_data.csv',sep=',',encoding='utf-8')

In [4]:
datasetRaw = pd.read_csv('raw_material_data.csv',sep=',',encoding='utf-8')

In [5]:
datasetRaw.head().T

,0,1,2,3,4
Date,2019-01-01 23:00:00,2019-01-02 23:00:00,2019-01-03 02:00:00,2019-01-04 23:00:00,2019-01-05 23:00:00
Feature 1,89.5,89.3,89.31,89.39,89.63
Feature 2,85.06,84.32,84.39,84.6,84.87
Feature 3,95.0391,94.4233,94.4911,94.6415,94.6893
C Content,2.02,2.5,2.5,2.52,2.36
S Content,0.0054,0.0037,0.0017,0.0013,2
Feature 4,5.7276,6.4242,6.3468,6.1791,6.1404
Feature 5,6.85,6.94,2563,2556,2552

In [6]:
datasetFurnace.head().T

,0,1,2,3,4
ID,1,2,3,4,5
Grade,Grade_1,Grade_1,Grade_1,Grade_1,Grade_1
Raw Material 1,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3
Raw Material 2,NaN,NaN,NaN,NaN,NaN
Charge Raw Material 99,22,NaN,15,NaN,NaN
Charge Raw Material 1,178486,167665,126579,149.36,149404
Charge Raw Material 2,NaN,NaN,NaN,NaN,NaN
Total Charge,200486,167665,141579,149.36,149404
Power Start,2019-01-01 05:58:30,2019-01-01 07:05:44,2019-01-01 07:57:36,2019-01-01 09:48:55,2019-01-01 10:35:11
Tap Weight,129.3,130.32,132.91,128.51,130.53
Tap Time,2019-01-01 07:03:08,2019-01-01 07:54:13,2019-01-01 09:46:02,2019-01-01 10:32:23,2019-01-01 11:18:40
Last Temperature,1596,1595,1623,1611,1575
Tap Duration,160.2,175.2,150,154.8,156
Liquid Metal Yield,64.4933,77.7264,93.8769,86.0404,87.3671
Gross Production,119583,128441,132356,131379,132785
Prime Production,119583,128441,132356,131379,132785
MS Yield,59.6466,76.6057,93.4856,87.9613,88.8765
Tap To Tap Time,65.52,51.08,111.8,46.35,46.25
Power ON Time,61.05,45.75,47.15,41.13,41.05
Power OFF Time,4.47,5.33,64.65,5.22,5.2
Mins./Heat_Operation,3.67,5.33,5.85,5.22,5.2
Energy Consumption kWh,85230,66020,64990,57970,58560
Power MW,83.7641,86.5836,82.702,84.566,85.5932
Total Energy Consumption kWh,159096,103328,127488,93656.7,95416.8
Natural Gas Nm³,538.88,264.13,352.47,237.32,235.13
Natural Gas Nm³/t,4.16767,2.02678,2.65194,1.8467,1.80135
Oxygen Lancing Nm³,6622.43,4384.56,4381.23,4068.9,3943.35
Oxygen Burner Nm³,918.69,457.21,611.62,410.71,406.91
Total Oxygen Nm³,7541.12,4841.77,4992.85,4479.61,4350.26
Oxygen Nm³/t,58.3227,37.1529,37.5656,34.8581,33.3277
Carbon Injection Kg,4662,3304,4134,2734,2484
Carbon Injection Kg/t,36.0557,25.353,31.1038,21.2746,19.0301
LimeCC,6600,5395,4786,5142,5261
DoloCC,8221,8844,6733,8058,8059
Slag Analysis B2,1.61612,1.6984,1.61146,1.77355,1.82725
Slag Analysis B3,1.32042,1.39665,1.31963,1.45526,1.48106
Furnace First Temperature,1605,1574,1610,1582,1560
Raw Material Temperature,528,509,527,516,505
Date,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01

In [7]:
list(datasetRaw.columns)

['Date',
 'Feature 1',
 'Feature 2',
 'Feature 3',
 'C Content',
 'S Content',
 'Feature 4',
 'Feature 5']

In [8]:
datasetFurnace.columns[datasetFurnace.isnull().any()].tolist()

['Grade',
 'Raw Material 1',
 'Raw Material 2',
 'Charge Raw Material 99',
 'Charge Raw Material 1',
 'Charge Raw Material 2',
 'Total Charge',
 'Power Start',
 'Tap Weight',
 'Tap Time',
 'Last Temperature',
 'Tap Duration',
 'Liquid Metal Yield',
 'Gross Production',
 'Prime Production',
 'MS Yield',
 'Tap To Tap Time',
 'Power ON Time',
 'Power OFF Time',
 'Mins./Heat_Operation',
 'Energy Consumption kWh',
 'Power MW',
 'Total Energy Consumption kWh',
 'Natural Gas Nm³',
 'Natural Gas Nm³/t',
 'Oxygen Lancing Nm³',
 'Oxygen Burner Nm³',
 'Total Oxygen Nm³',
 'Oxygen Nm³/t',
 'Carbon Injection Kg',
 'Carbon Injection Kg/t',
 'LimeCC',
 'DoloCC',
 'Slag Analysis B2',
 'Slag Analysis B3',
 'Furnace First Temperature',
 'Raw Material Temperature',
 'Date']

In [9]:
datasetRaw.columns[datasetRaw.isnull().any()].tolist()

['Date',
 'Feature 1',
 'Feature 2',
 'Feature 3',
 'C Content',
 'S Content',
 'Feature 4',
 'Feature 5']

In [10]:
datasetRaw = datasetRaw.fillna(0)

In [11]:
datasetFurnace = datasetFurnace.fillna(0)

In [12]:
datasetRaw.head().T

,0,1,2,3,4
Date,2019-01-01 23:00:00,2019-01-02 23:00:00,2019-01-03 02:00:00,2019-01-04 23:00:00,2019-01-05 23:00:00
Feature 1,89.5,89.3,89.31,89.39,89.63
Feature 2,85.06,84.32,84.39,84.6,84.87
Feature 3,95.0391,94.4233,94.4911,94.6415,94.6893
C Content,2.02,2.5,2.5,2.52,2.36
S Content,0.0054,0.0037,0.0017,0.0013,2
Feature 4,5.7276,6.4242,6.3468,6.1791,6.1404
Feature 5,6.85,6.94,2563,2556,2552

In [13]:
datasetFurnace.head().T

,0,1,2,3,4
ID,1,2,3,4,5
Grade,Grade_1,Grade_1,Grade_1,Grade_1,Grade_1
Raw Material 1,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3,RawMaterialHot3
Raw Material 2,0,0,0,0,0
Charge Raw Material 99,22,0,15,0,0
Charge Raw Material 1,178486,167665,126579,149.36,149404
Charge Raw Material 2,0,0,0,0,0
Total Charge,200486,167665,141579,149.36,149404
Power Start,2019-01-01 05:58:30,2019-01-01 07:05:44,2019-01-01 07:57:36,2019-01-01 09:48:55,2019-01-01 10:35:11
Tap Weight,129.3,130.32,132.91,128.51,130.53
Tap Time,2019-01-01 07:03:08,2019-01-01 07:54:13,2019-01-01 09:46:02,2019-01-01 10:32:23,2019-01-01 11:18:40
Last Temperature,1596,1595,1623,1611,1575
Tap Duration,160.2,175.2,150,154.8,156
Liquid Metal Yield,64.4933,77.7264,93.8769,86.0404,87.3671
Gross Production,119583,128441,132356,131379,132785
Prime Production,119583,128441,132356,131379,132785
MS Yield,59.6466,76.6057,93.4856,87.9613,88.8765
Tap To Tap Time,65.52,51.08,111.8,46.35,46.25
Power ON Time,61.05,45.75,47.15,41.13,41.05
Power OFF Time,4.47,5.33,64.65,5.22,5.2
Mins./Heat_Operation,3.67,5.33,5.85,5.22,5.2
Energy Consumption kWh,85230,66020,64990,57970,58560
Power MW,83.7641,86.5836,82.702,84.566,85.5932
Total Energy Consumption kWh,159096,103328,127488,93656.7,95416.8
Natural Gas Nm³,538.88,264.13,352.47,237.32,235.13
Natural Gas Nm³/t,4.16767,2.02678,2.65194,1.8467,1.80135
Oxygen Lancing Nm³,6622.43,4384.56,4381.23,4068.9,3943.35
Oxygen Burner Nm³,918.69,457.21,611.62,410.71,406.91
Total Oxygen Nm³,7541.12,4841.77,4992.85,4479.61,4350.26
Oxygen Nm³/t,58.3227,37.1529,37.5656,34.8581,33.3277
Carbon Injection Kg,4662,3304,4134,2734,2484
Carbon Injection Kg/t,36.0557,25.353,31.1038,21.2746,19.0301
LimeCC,6600,5395,4786,5142,5261
DoloCC,8221,8844,6733,8058,8059
Slag Analysis B2,1.61612,1.6984,1.61146,1.77355,1.82725
Slag Analysis B3,1.32042,1.39665,1.31963,1.45526,1.48106
Furnace First Temperature,1605,1574,1610,1582,1560
Raw Material Temperature,528,509,527,516,505
Date,2019-01-01,2019-01-01,2019-01-01,2019-01-01,2019-01-01

In [15]:
# rawMaterial1 e RawMaterial2
datasetFurnace.groupby('Raw Material 1')['Raw Material 1'].count()

Raw Material 1
0                  1305
RawMaterialHot1    7853
RawMaterialHot3    7565
Name: Raw Material 1, dtype: int64